.idea
.vscode
.DS_Store
**/.DS_Store
logs/
videos/
dist/
.eggs/
xuance.egg-info/
models/
*.sh
.VSCodeCounter/
**/__pycache__
rank_0/
docs/build
wandb/
.pypirc
.pytest_cache

debug.py
debug_marl.py

demo_mindspore.py
mnist.npz