agent: "DDPG"
env_name: "Box2D"
env_id: "BipedalWalker-v3"
vectorize: "Dummy_Gym"
policy: "DDPG_Policy"
representation: "Basic_Identical"
runner: "DRL"

actor_hidden_size: [256,]
critic_hidden_size: [256,]
activation: "ReLU"

seed: 1
parallels: 10
n_size: 200000
batch_size: 256
actor_learning_rate: 0.001
critic_learning_rate: 0.001
gamma: 0.98
tau: 0.005
learning_rate: 0.0007

start_noise: 0.1
end_noise: 0.1
training_frequency: 1
running_steps: 500000
start_training: 1000

use_obsnorm: False
use_rewnorm: False
obsnorm_range: 5
rewnorm_range: 5

test_steps: 10000
eval_interval: 50000
test_episode: 1
log_dir: "./logs/ddpg/"
model_dir: "./models/ddpg/"