agent: "SAC"
env_name: "MuJoCo"
env_id: "Ant-v4"
policy: "Gaussian_SAC"
representation: "Basic_Identical"

representation_hidden_size: [256,]
actor_hidden_size: [256, 256]
critic_hidden_size: [256, 256]
activation: "LeakyReLU"

seed: 1
parallels: 4
n_size: 50000
batch_size: 256
actor_learning_rate: 0.001
critic_learning_rate: 0.001
gamma: 0.99
alpha: 0.01
tau: 0.005
learning_rate: 0.0007

start_noise: 0.25
end_noise: 0.01
training_frequency: 1
running_steps: 250000
start_training: 1000

use_obsnorm: False
use_rewnorm: False
obsnorm_range: 5
rewnorm_range: 5

test_steps: 10000
eval_interval: 2500
test_episode: 5
log_dir: "./logs/sac/"
model_dir: "./models/sac/"
