agent: "TD3"
env_name: "Classic Control"
env_id: "Pendulum-v1"
vectorize: "Dummy_Gym"
representation: "Basic_Identical"
policy: "TD3_Policy"
runner: "DRL"

actor_hidden_size: [256, ]
critic_hidden_size: [256, ]
activation: "LeakyReLU"

seed: 1
parallels: 10
n_size: 20000
batch_size: 256
actor_learning_rate: 0.0005
critic_learning_rate: 0.001
gamma: 0.98
tau: 0.005
actor_update_delay: 3

start_noise: 0.25
end_noise: 0.05
training_frequency: 2
running_steps: 500000
start_training: 2000

use_obsnorm: False
use_rewnorm: False
obsnorm_range: 5
rewnorm_range: 5

test_steps: 10000
eval_interval: 50000
test_episode: 1
log_dir: "./logs/td3/"
model_dir: "./models/td3/"